{% extends "base.html" %}

{% block libs %}
<script type="module">
  // Import the functions you need from the SDKs you need
  import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.10/firebase-app.js";
  import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.6.10/firebase-analytics.js";
  // TODO: Add SDKs for Firebase products that you want to use
  // https://firebase.google.com/docs/web/setup#available-libraries

  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  const firebaseConfig = {
    apiKey: "AIzaSyBQcoCx70FUZcbZgXnKeQYwV5DfM4Yiptk",
    authDomain: "antoine-crouzet.firebaseapp.com",
    projectId: "antoine-crouzet",
    storageBucket: "antoine-crouzet.appspot.com",
    messagingSenderId: "440276825103",
    appId: "1:440276825103:web:871049934c50861f2b9f7a",
    measurementId: "G-3N79PTP4RH"
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
  const analytics = getAnalytics(app);
</script>

<link rel="me" href="https://mastodon.mim-libre.fr/@crouzetantoine">Mastodon</a>
{% endblock %}
